:root{
    --main-color: white;

}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: 1.2px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png");
    
}

header{
    width: 100%;
    align-content: center;
    color: var(--main-color);
    border-bottom-width: 2px;
    border-color: gray;
}

.porthead{
    margin: 0px auto;
    background-color: white;
    min-width: 0%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

nav{
    float:right;
}

.name-block{
    background-color: #4aaaa5;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}



img {
    float: left;
    margin-right:20px;
}

.btn{
    /* padding: 50px 50px 50px 50px; */
    background-color: teal;
}

.clearfix{
    overflow: auto;
}

.main{
    background-color: white;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
}

.line{
    background-color: lightgray;
    height: 2px;
    margin: 0px 0px 20px 0px;

}

.nav-link{
    padding-top: 25px;

}



a{
    padding: 50px 10px 10px 10px;
}

a:hover{
    color: aqua;
}

a:visited{
color:gray;
}

.image-container{
position: relative;
background-color: white;
align-content: center;
}

.image-text-box{
position: absolute;
top: 150px;
right: 200px;
background-color: teal;
color: white;

}